* {
  padding: 0;
  margin: 0;
}

/*图片模块*/
.m-photos {
  width: 890px;
  margin: 0 auto;
}
.m-photos h3 {
  font-size: 14px;
  padding: 15px 0;
}
.m-photos img {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0 5px;
  background: url(../img/loading.gif) no-repeat center center;
}